<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Event Form" />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <title>Event Form</title>     <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <header>
        <div id="header-block">
            <div id="header-buffer"></div>
            <h1 id="title">ESN Delft Event Form</h1>
            <a href="https://www.esn-delft.nl">
                <img src="../resources/esn-delft-logo-color.png" id="logo">
            </a>
        </div>
        <p>Please fill out all relevant information about your event here :)</p>
    </header>

    <main>
        <form class="form" id="event-form" action="submit" method="POST">
            <!-- General Info -->
            <div id="general-info" class="form-block" required>
                <h2 class="form-block-title">General Info</h2>
                <div class = "input-block">
                    <label for="event-name" class="form-label">Event Name:</label><br>
                    <input type="text" id="event-name"><br><br>
                </div>

                <div class = "input-block">
                    <label for="event-date" class="form-label">Date:</label><br>
                    <input type="date" id="event-date"><br><br>
                </div>

                <div class = "input-block">
                    <label for="event-date" class="form-label">Time:</label><br>
                    <input type="time" id="event-time"><br><br>
                </div>

                <div class = "input-block">
                    <label for="event-loc" class="form-label">Location:</label><br>
                    <input type="text" id="event-loc"><br><br>
                </div>

                <div class = "input-block">
                    <label for="event-head" class="form-label">Event Head:</label><br>
                    <input type="text" id="event-head"><br><br>
                </div>

                <div class = "input-block">
                    <label for="event-description" class="form-label">Description:</label><br>
                    <input type="text" id="event-description"><br><br>
                </div>
            </div>

            <!-- Budget -->
            <div id="budget" class="form-block" required>
                <h2 class="form-block-title">Event Budget</h2>
                    <div class = "input-block">
                    <label for="pre-budget" class="form-label">Allocated Budget:</label><br>
                    <input type="text" id="pre-budget"><br><br>
                    </div>

                    <div class = "input-block">
                    <label for="post-budget" class="form-label">Actual Budget:</label><br>
                    <input type="text" id="post-budget"><br><br>
                    </div>

                    <div class = "input-block" id = "fund-requested-block">
                    <label for="fund-requested" class="form-label">Student Community Fund Requested:</label>
                    <input type="checkbox" id="fund-requested"><br><br>
                    </div>

                    <div class = "input-block" id="fund-budget-block">
                    <label for="fund-budget" class="form-label">Amount obtained:</label><br>
                    <input type="number" id="fund-budget"><br><br>
                    </div>
            </div>

            <!-- Tasks -->
            <div id="tasks" class="form-block" required>
                    <h2 class="form-block-title">Task Distribution</h2> 
                <div class="input-block">
                    <label for="tasks-planning" class="form-label">Planning:</label><br>
                    <input type="text" id="tasks-planning"><br><br>
                </div>
            </div>

            <!-- Reflection -->
             <div id="reflection" class="form-block">
                <h2 class="form-block-title">Reflection</h2>
                <div id="event-rating-block">
                <label for="event-rating">Rating (/5):</label>
                <select id="event-rating">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select><br>
                </div><br><br>
                <div class="input-block" id="ref-positive-block">
                    <label id="ref-positive-label">What went well?</label><br>
                    <textarea rows="4" cols="50" type="text" id="comment-input"></textarea><br><br>
                </div>
                <div class="input-block" id="ref-negative-block">
                    <label id="ref-positive-label">What can be improved?</label><br>
                    <textarea rows="4" cols="50" type="text" id="comment-input"></textarea><br><br>
                </div>
            </div>

            <!-- Comments -->
            <div id="comments" class="form-block">
                <div class="input-block" id="comment-block">
                    <h2 class="form-block-title">Additional Comments</h2>
                    <textarea rows="4" cols="50" type="text" id="comment-input"></textarea><br><br>
                </div>
            </div>

            <p id="response"></p>

            <!-- Submit Button -->
            <div id="buttom-submit-container">
                <button type="submit" id="button-submit" class="button">Submit form</button>
            </div>
        </form>
    </main>

    <footer>
        <small>Copyright &copy; 2025 Erasmus Student Network Delft. All rights reserved.</small>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>

